---

# To export Divvy shortcuts, enter "divvy://export" in a browser. 
# Then paste the provided string into the com.mizage.Divvy:shortcuts defaults key in roles/osx/defaults/main.yml
# See https://mizage.com/help/divvy/export_import.html for more info
- name: Configure Divvy
  block: 

    - name: Make Divvy start on login
      shell: "osascript -e 'tell application \"System Events\" to make login item at end with properties {path: \"/Applications/Divvy.app\", hidden: false}'"
      
    - name: 
      shell: "cliclick w:2000 c:815,410 w:5000 c:700,400 &"

    - name: Start Divvy so it responds to the global shortcut
      shell: "osascript -e 'tell application \"Divvy\" to activate'"

    - name: Pause execution for Divvy permission to complete
      pause: 
        seconds: 7

    - name: Open accessibility pane
      ansible.builtin.shell: "open \"x-apple.systempreferences:com.apple.preference.security?Privacy_Accessibility\""

    - name: Grant accessibility
      ansible.builtin.shell: "cliclick w:500 c:1070,310 w:500"

    - name: Grant sudo
      include_tasks: escalate.yml
      
    - name: Quit settings
      ansible.builtin.shell: "cliclick kd:cmd t:q ku:cmd w:500"
        
  tags:
    - settings
    - divvy