[defaults]
callbacks_enabled=ansible.posix.profile_tasks
stdout_callback=default
callback_result_format=yaml
inventory=hosts
lookup_plugins=./lookup_plugins/
vault_password_file=~/.ansible/dotfiles_vaultpass
library=./library/
