<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jamesdh.brew-upgrade-watcher</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ role_path }}/files/brew-upgrade.sh</string>
        <string>watch</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>ProcessType</key>
    <string>Background</string>
    <key>ThrottleInterval</key>
    <integer>10</integer>
    <key>StandardOutPath</key>
    <string>{{ home_dir }}/Library/Logs/brew-upgrade-watcher.log</string>
    <key>StandardErrorPath</key>
    <string>{{ home_dir }}/Library/Logs/brew-upgrade-watcher.log</string>
</dict>
</plist>
